<div class='pic_row' id='row1'>
    <div class="item" id="item1">
<center>
<label for="checkbox1"><%= image_tag "./Clothing/Ladies/1.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox1" name="checkbox1" value="aa"/>
</center>
    </div>

    <div class="item" id="item2">
<center>
<label for="checkbox2"><%= image_tag "./Clothing/Ladies/2.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox2" name="checkbox2" value="aa"/>
</center>
    </div>

    <div class="item" id="item3">
<center>
<label for="checkbox3"><%= image_tag "./Clothing/Ladies/3.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox3" name="checkbox3" value="aa"/>
</center>
    </div>
</div>

<br><br><br>
<div class='pic_row' id='row2'>
    <div class="item" id="item4">
<center>
<label for="checkbox4"><%= image_tag "./Clothing/Ladies/4.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox4" name="checkbox4" value="aa"/>
</center>
    </div>

    <div class="item" id="item5">
<center>
<label for="checkbox5"><%= image_tag "./Clothing/Ladies/5.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox5" name="checkbox5" value="aa"/>
</center>
    </div>

    <div class="item" id="item6">
<center>
<label for="checkbox6"><%= image_tag "./Clothing/Ladies/6.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox6" name="checkbox6" value="aa"/>
</center>
    </div>
</div>
<br>

<div class='pic_row' id='row3'>
    <div class="item" id="item7">
<center>
<label for="checkbox7"><%= image_tag "./Clothing/Ladies/7.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox7" name="checkbox7" value="aa"/>
</center>
    </div>

    <div class="item" id="item8">
<center>
<label for="checkbox8"><%= image_tag "./Clothing/Ladies/8.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox8" name="checkbox8" value="aa"/>
</center>
    </div>

    <div class="item" id="item9">
<center>
<label for="checkbox9"><%= image_tag "./Clothing/Ladies/9.png", :width => 150, :height => 250 %></label><br>
<input type="checkbox" id="checkbox9" name="checkbox9" value="aa"/>
</center>
    </div>
</div>
