<center><h2>Who am I?</h2></center>
<%= form_tag :controller => :form, :action => :get_favorite_activities_1 do %>
<hr>
    <b>What are your favorite activities?</b><br>
    Page 1(each page choose up to 3)(total 12)<br>
    <div id='form_notice'><%= flash[:notice] %></div><br>
    <%= check_box_tag 'activity_list[]', 'biking' %>Biking <br>
    <%= check_box_tag 'activity_list[]', 'hiking' %>Hiking <br>
    <%= check_box_tag 'activity_list[]', 'surfing' %>Surfing <br>
    <%= check_box_tag 'activity_list[]', 'snowboarding_skiing' %>Snowboarding/Skiing <br>
    <%= check_box_tag 'activity_list[]', 'swimming' %>Swimming <br>
    <%= check_box_tag 'activity_list[]', 'photography' %>Outdoor photography <br>
    <%= check_box_tag 'activity_list[]', 'fishing' %>Fishing <br>
    <%= check_box_tag 'activity_list[]', 'gym' %>Going to the Gym <br>
    <%= check_box_tag 'activity_list[]', 'basketball' %>Playing or watching basketball <br>
    <%= check_box_tag 'activity_list[]', 'baseball' %>Playing or watching baseball <br>
    <%= check_box_tag 'activity_list[]', 'tennis' %>Playing tennis <br>
    <%= check_box_tag 'activity_list[]', 'suburban' %>Go to other suburban area by driving <br><br>
<hr>
    <%= submit_tag "Submit" %>
<% end %>
