<br>
<div id ='header'>CLiiK</div>
<br><br>
<%= form_tag :controller => :form, :action => :get_to_dos do %>
<hr>
    <b>What kind of activities would you feel the most comfortable doing? </b><br>
    <br>
    <%= check_box_tag 'to_do_list[]', 'movie' %>Watching a movie <br>
    <%= check_box_tag 'to_do_list[]', 'snack' %>A 15-30 mins casual meeting with some snacks <br>
    <%= check_box_tag 'to_do_list[]', 'shopping' %>Window Shopping <br>
    <%= check_box_tag 'to_do_list[]', 'quick_meal' %>A quick meal at a delicious restaurant <br>
    <%= check_box_tag 'to_do_list[]', 'nice_meal' %>A nice meal at a decent restaurant <br>
    <%= check_box_tag 'to_do_list[]', 'walk' %>A friendly walk around the park <br>
    <%= check_box_tag 'to_do_list[]', 'painting' %>Painting <br>
    <%= check_box_tag 'to_do_list[]', 'cooking' %>Cooking class <br>
    <%= check_box_tag 'to_do_list[]', 'performance' %>Watching performance art <br>
    <%= check_box_tag 'to_do_list[]', 'museum' %>Visiting museums <br>

    <% if current_user.profile.gender == 'male' %>
        <%= check_box_tag 'to_do_list[]', 'her_choice' %>Her choice <br><br>
    <% else %>
        <%= check_box_tag 'to_do_list[]', 'suprise_me' %>Surprise me <br><br>
    <% end %>


<hr>
    <b>Who would you prefer to pay? </b><br>
    <div style='color: red'><%= flash[:notice] %></div><br>
    <%= radio_button 'what_to_do', 'payment', 'he', {:checked => true} %> he pays for it
    <%= radio_button 'what_to_do', 'payment', 'dutch' %> we go dutch
<!--    <%= radio_button 'what_to_do', 'payment', 'her' %> she pay for it --><br><br>
<hr>
    <%= submit_tag "Submit" %>
<% end %>
