<br>
<div id ='header'>CLiiK</div>
<br><br>
<%= form_tag :controller => :form, :action => :get_wish_hairstyle do %>
<hr>
    <% if current_user.profile.gender == 'male' %>
        <b>And hers?</b> (choose up to 3)<br>
    <% else %>
        <b>And his?</b> (choose up to 3)<br>
    <% end %>
    <br>
    <div id='form_notice'><%= flash[:notice] %></div><br>

    <% if current_user.profile.gender == 'male' %>
        <%= render :partial => 'hairstyle_lady' %>
    <% else %>
        <%= render :partial => 'hairstyle_guy' %>
    <% end %>

<hr>
    <%= submit_tag 'submit'%>
<% end %>
